extends layout

block content
  //- div.py-5.bg-body-tertiary
  //-   div.container
  //-     div.d-flex.align-items-center
  //-       div.me-3(style="flex-shrink: 0; scale: 0.7;")
  //-         img.card-img-top(src="./image.png" alt="Card image cap")
  //-       div.flex-grow-1(style="max-width: 50%;")
  //-         form(role="search").w-100
  //-           input.form-control(type="search" placeholder="Search" aria-label="Search")
  //-     div.row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
  //-       each val in bookList  
  //-         div.col
  //-           div.card.shadow-sm.p-4
  //-             svg.bd-placeholder-img.card-img-top(width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false")
  //-               p.card-title= val.title
  //-               p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
  //-               div.d-flex.justify-content-between.align-items-center
  //-                 div.btn-group
  //-                   button.btn.btn-sm.btn-outline-secondary(type="button") View
  //-                   button.btn.btn-sm.btn-outline-secondary(type="button") Edit
  //-                 small.text-body-secondary= val.current_price + ' €'
  div.container
    img(src="./image.png") 
    .form 
      input(type="search" placeholder="Search")
  .container(style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px;")
    each val in bookList
      article
        header(style="background-color: #cfd5e2;")= val.title
        p This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        footer(style="display: flex; justify-content: space-between; align-items: center;")
          button.contrast View
          span= val.current_price + ' €'