/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.price-input::placeholder {
    text-align: right;
}