extends layout

block content
  div.container-fluid(style="display: flex; justify-content: space-between; margin: 1rem; align-items: center; margin: 0; padding: 0 10rem;")
    img(src="./image.png" style="width: 200px; margin: 2rem 0;") 
    .form(style="display: flex; justify-content: center; align-items: center; margin: 2rem 0;")
      input(type="search" placeholder="Search" style="margin: 0; width: 50vw;")
  .container-fluid(style="padding: 0; height: 60vh; overflow: hidden;")
    style.
      .card-overlay {
        position: absolute;
        top: 20%;
        left: 10%;
      }

      .card-overlay h3 {
        padding-bottom: 3rem;
      }
    img(src="./image2.jpg")
    article.card-overlay
      h3 Something that you're not using? 
        br 
        | Sell it!
      footer(style="padding-bottom: 0;")
        a(href="/login")
          button(type="button" style="width: 100%; background-color: #4195D3; border:solid 1px #4195D3") Login
  .container(style="margin-top: 2rem; display: flex; justify-content: center; align-items: center;")
    input(type="text" placeholder="World's #1 selling college supplies." style="margin: 0; width: 100%;" readonly)
  .container(style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; margin-top: 2rem;")
    each val in bookList
      article
        header(style="background-color: #cfd5e2;")= val.title
        p This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        footer(style="display: flex; justify-content: space-between; align-items: center;")
          button.contrast View
          span= val.current_price + ' €'